[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts
