[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://github.com/Freescale/meta-freescale
[submodule "layers/meta-freescale-3rdparty"]
	path = layers/meta-freescale-3rdparty
	url = https://github.com/Freescale/meta-freescale-3rdparty
[submodule "layers/meta-freescale-distro"]
	path = layers/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-balena-5x-owa"]
	path = layers/meta-balena-5x-owa
	url = ssh://git@192.168.100.7:10022/cetus/sdk_tools/cetus_yocto/meta-balena-5x-owa.git
[submodule "layers/meta-owasys"]
	path = layers/meta-owasys
	url = https://github.com/Owasys/meta-owasys.git
