#EG25-G /dev/ttyUSBx
ACTION=="add|change|move|bind", SUBSYSTEM=="net", ENV{ID_NET_DRIVER}=="cdc_ether", ENV{ID_VENDOR_ID}=="2c7c", ENV{ID_MODEL_ID}=="0125", ENV{ID_MM_CANDIDATE}="0"
ACTION=="add|change", SUBSYSTEM=="tty", ENV{ID_BUS}=="usb", ENV{ID_USB_INTERFACE_NUM}=="02", ENV{ID_VENDOR_ID}=="2c7c", ENV{ID_MODEL_ID}=="0125", ENV{ID_MM_DEVICE_IGNORE}="1"
ACTION=="add|change", SUBSYSTEM=="tty", ENV{ID_BUS}=="usb", ENV{ID_USB_INTERFACE_NUM}=="03", ENV{ID_VENDOR_ID}=="2c7c", ENV{ID_MODEL_ID}=="0125", ENV{ID_MM_ASSUME_ALLOWED}="1", ENV{ID_MM_TTY_BAUDRATE}="115200"
ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", ENV{.MM_USBIFNUM}=="03", SUBSYSTEM=="tty", ENV{ID_MM_PORT_TYPE_AT_PRIMARY}="1"
ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", ENV{.MM_USBIFNUM}=="03", SUBSYSTEM=="tty", ENV{ID_MM_PORT_TYPE_AT_SECONDARY}="1"