[Unit]
Description=pmsrv service, a service to open a socket comms with the oboard uprocessor and reset the HW watchdog.
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/pmsrv
Restart=always

[Install]
WantedBy=system_maintenance.service
